.navbar-nav-about{
    background-color: rgba(161, 199, 238, 0.438);
} 
.imagine b{
 color: rgba(0, 0, 0, 0.705);
}

.middle{
    margin:30px 20px;
}
.article-chinese p{
    text-align: justify;
    font-family: Microsoft JhengHei;
}
.article-english p{
    text-align: justify; 
    font-family: Microsoft JhengHei;
}
.article-japaness p{
    text-align: justify; 
    font-family: Microsoft JhengHei;
}

.parallax-window {
    min-height: 4em;
    width:auto;
    background: transparent;
    color:#ffffff;
    display: flex;
    justify-content: center;
    font-family: Microsoft JhengHei;
    font-weight:900;
    font-size:100px;
}



@media(min-width:320px){
    .middle{
        margin:40px 20px;
    }
    .selfie{
        width:100%;
        height:auto;
        margin-bottom:20px;
    }
    .skl{
        height:20em;
    }
}

@media (min-width: 345px) { 

    .middle{
        margin:80px 50px;
    }
    .selfie{
        width:100%;
        height:auto; 
        margin-bottom:20px;
    }
    .skl{
        height:20em;
    }
}

@media (min-width: 425px) { 
    .skl{
        height:20em;
    }
}



@media(min-width:768px){
    .selfie{
        width:250px;
        height:250px; 
    }
    .article-chinese{
        display: flex;
        justify-content: flex-start;
        margin-top:10px;
        margin-bottom:35px;
      }
      .article-chinese p {
          display: flex;
          margin:50px;
          margin-right:20px;
          margin-top:0;
          font-size: 0.9em;
          line-height: 1.4;
          letter-spacing: 0.1em; 
                
      }
    .article-english{
        display: flex;
        justify-content: flex-start; 
        flex-direction: row-reverse;
        margin-top:45px;
      }
      .article-english p{
        display: flex;
        margin:50px;
        margin-right:50px;
        margin-top:10px;
        font-size: 0.8em;
        line-height: 1.4;
        letter-spacing: 0.05em; 
              
    }
    .middle{
        margin:80px 100px;
    }
    .article-japaness{
        display: flex;
        justify-content: flex-start;
        margin-top:10px;
        margin-bottom:35px;
      }
      .article-japaness p {
          display: flex;
          margin:50px;
          margin-right:20px;
          margin-top:0;
          font-size: 0.9em;
          line-height: 1.4;
          letter-spacing: 0.1em; 
      }
      .skl{
          height:20em;
      }
}

@media  (min-width:992px) {
    .selfie{
        width:300px;
        height:300px;   
    }
    .middle{
        margin:80px 150px;
    }
    .imagine{
        margin-bottom:10px;
    }
   .article-chinese{
      display: flex;
      justify-content: flex-start;
      margin-top:10px;
      margin-bottom:35px;
    }
    .article-chinese p {
        display: flex;
        margin:50px;
        margin-right:20px;
        margin-top:0;
        font-size: 1.1em;
        line-height: 2.7;
        letter-spacing: 0.14em; 
             
    }
    .article-english{
        display: flex;
        justify-content: flex-start; 
        flex-direction: row-reverse;
        margin-top:45px;
      }
      .article-english p{
        display: flex;
        margin:20px;
        margin-right:50px;
        margin-top:10px;
        font-size: 0.95em;
        line-height: 2.4;
        letter-spacing: 0.14em; 
    }
    .article-japaness{
        display: flex;
        justify-content: flex-start;
        margin-top:10px;
        margin-bottom:35px;
      }
      .article-japaness p{
        display: flex;
        margin:50px;
        margin-right:20px;
        margin-top:0;
        font-size: 1.1em;
        line-height: 2.7;
        letter-spacing: 0.1em; 
    }
     
}
